* {
  margin: 0;
  background-color: #405cb1;
  color: white;
}

#map {
  width: 80%;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
}

.leaflet-container {
  height: 400px;
  width: 800px;
}

.mapContainer {
  height: 550px;
  width: 100%;
}

.sidebarStyle {
  display: inline-block;
  /* position: absolute; */
  top: 0;
  left: 0;
  margin: 12px;
  background-color: #405cb1;
  color: white;
  z-index: 1 !important;
  padding: 6px;
  font-weight: bold;
  border: 1px solid white;
}

.country-popup {
  height: 200px;
  width: 200px;
  border: 2px solid black;
}

.country-popup img {
  height: 50px;
  width: 50px;
}
